<body>
    <p>We're delighted to have delivered your order with {{ seller }}.
        Your package has been collected by you. Please share your experience and sumit your review using the link below.</p>
    
    <a href="{{ review_url }}"
    style="display: inline-block; padding: 6px 12px; font-size: 13px; font-weight: 600; color: blueviolet; background-color: lightpink; text-decoration: none; border-radius: 4px; border: 1px solid blueviolet; cursor: pointer;">
        Submit Review</a>
    <br>
    <p>Powered by FastShip</p>
</body>