<body>
    <p>Hi 👋,</p>
    <p>Your order with {{ seller }} is picked up by 
    {{ partner }} and is on it's way to you. Use the below link
    to track your order.</p>
    <a href="http://localhost:8000/shipment/track?id={{ id }}"
    style="display: inline-block; padding: 6px 12px; font-size: 13px; font-weight: 600; color: blueviolet; background-color: lightpink; text-decoration: none; border-radius: 4px; border: 1px solid blueviolet; cursor: pointer;">
    Track Now
    </a>
    <br>
    <p>Powered by FastShip</p>
</body>